@model ICollection<FreeRiders.Models.Picture>

<div class="col-md-6 text-center" id="pictures-list">
    @foreach (var currentPicture in Model)
    {
        if (currentPicture.ID == ViewBag.CoverPictureID)
        {
            continue;
        }
        
        <div class="col-md-3 edit-album-grid-cell">
            <div class="edit-image-container">
                <img src="@currentPicture.ImageUrl" class="image-in-container" alt="No picture found..." />
            </div>
            <div>
                @Ajax.ActionLink("Delete", "DeletePictureFromAlbum", "Album",
                    new
                    {
                        pictureID = currentPicture.ID,
                        albumID = ViewBag.AlbumID,
                    },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "pictures-grid",
                    },
                    new { @class = "btn btn-xs btn-danger" })
            </div>
            <div>
                @Ajax.ActionLink("Make Cover", "EditPictureToCover", "Album",
                    new
                    {
                        pictureID = currentPicture.ID,
                        albumID = ViewBag.AlbumID,
                    },
                    new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "pictures-grid",
                    },
                    new { @class = "btn btn-xs btn-default" })
            </div>
        </div>
    }
</div>

<script>
    function reloadPictureGrid() {
        $('#pictures-grid').load('@(Url.Action("LoadPicturesGrid", new { albumID = ViewBag.AlbumID }))');
    }
</script>