@model dynamic

<div class="row text-center base-album-grid"
     style="background-image: url(@Model.Picture.ImageUrl); background-size: 100% 100%;">
    <h1>
        <strong>@Model.Title</strong>
    </h1>
</div>