@using FreeRiders.Web.ViewModels.Message

@model MessageViewModel

<div class="row">
    @using (Ajax.BeginForm("Create", "Message",
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "messages"
                }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.EventID)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(m => m.Text, "Needs to be atleast 50 symbols max 1000", new { @class = "text-danger" })

        <br />
        <div class="col-md-8 col-md-offset-2">
            <input type="submit" class="btn btn-default pull-right" value="Send message" />
        </div>
    }
    <br /> 
</div>
<br /> 
<br /> 

