@model string

<div class="row">
    <p class="description-container">
        @if (Model.Length < 100)
        {
            @Model
        }
        else
        {
            @Model.Substring(0, 100)
            <span>
                ...
            </span>
        }
    </p>
</div>
