@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { EncType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3>Create Album</h3>
        <hr />
        <div class="form-group">
            <div>
                <input type="file" name="NewImageName" id="NewImageName" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Create" id="submitBtn" class="btn btn-default" />
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
