@model ICollection<FreeRiders.Web.ViewModels.LocationViewModel>

<br />
<br />
<br />
<div class="container">
    <div class="col-md-8">
        @foreach (var location in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    <img src="@location.Picture.ImageUrl" alt="No image found..." style="width:100%;" />
                </div>
                <div class="col-md-8">
                    <h4>@location.Name</h4>
                    <p class="description-container">
                        @if (location.Description.Length < 300)
                        {
                            @location.Description
                        }
                        else
                        {
                            @location.Description.Substring(0, 300)
                            <span>
                                ...
                            </span>
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>