@model ICollection<FreeRiders.Web.ViewModels.LocationViewModel>

<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">

                    <h1>The wild side of riding</h1>
                    <hr class="small">
                    <span class="subheading">See all the cool sites you can visit and enjoy riding...</span>
                </div>
            </div>
        </div>
    </div>
</header>
<br />
<br />
<br />
<div class="container">
    <div class="col-md-8">
        @foreach (var location in Model)
        {
            <div class="row">
                <div class="col-md-4">
                    <img src="@location.Picture.ImageUrl" alt="No image found..." style="width:100%;" />
                </div>
                <div class="col-md-8">
                    <h4>@location.Name</h4>
                    <p class="description-container">
                        @if (location.Description.Length < 300)
                        {
                            @location.Description
                        }
                        else
                        {
                            @location.Description.Substring(0, 300)
                            <span>
                                ...
                            </span>
                        }
                    </p>
                </div>
            </div>
        }
    </div>
</div>