@model ICollection<FreeRiders.Web.ViewModels.AlbumIndexViewModel>
@using FreeRiders.Web.ViewModels;

@{
    var headerArguments = new HeaderViewModel
    {
        ImageUrl = "../Images/albums-cover.jpg",
        Title = "Albums",
        Subtitle = "Check out our albums"
    };
}

@Html.Partial("_PageHeader", headerArguments)

<div class="container">
    @foreach (var albumModel in Model)
    {
        <div class="col-md-3 album-grid-container">
            <a class="album-link" href="@Url.Action("AlbumDetails", "Albums", new { id = albumModel.ID })">
                @Html.Partial("_AlbumGridLink", albumModel)
            </a>
        </div>
    }
</div>
