body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.description-container {
    text-align: justify;
}

.image-in-container {
    max-width: 100%;
    max-height: 100%;
}

#myModalLabel {
    color: white;
}

.image-container-modal {
    height: 450px;
}

.edit-album-grid-cell {
    margin-bottom: 5px;
}

    .edit-album-grid-cell div {
        margin-top: 5px;
    }

.edit-image-container {
    height: 80px;
}

.album-header{
    margin-top: -5px;
    height: 250px;
}

.album-link {
    padding-left:2px;
    padding-right:2px;
    color: #007196;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 4px 4px black;
}

.album-grid-container{
    background-clip: padding-box;
    border: 5px solid transparent;
}

.album-thumbnail-container{
    height: 70px;
    margin-bottom: 5px;
}

.album-details-text-content{
    text-align:justify;
}
