@using FreeRiders.Web.Areas.Administration.ViewModels.Message

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    const string ControllerName = "Event";
}

<div class="container">
    @(Html.Kendo()
    .Grid<MessageAdminViewModel>()
    .Name("messages-grid")
    .Columns(columns =>
    {
        columns.Bound(message => message.ID);
        columns.Bound(message => message.AuthorName);
        columns.Bound(message => message.Text);
        columns.Bound(message => message.EventTitle);
        columns.Bound(message => message.CreatedOn).Format("{0:dd-MM-yyyy HH:mm}").Filterable(false); ;
        columns.Command(command =>
        {
            command.Destroy().Text("Remove");
            command.Edit();
        });
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .Sortable()
    .Pageable(page =>
    {
        page.Refresh(true);
        page.PreviousNext(true);
        page.Numeric(true);
    })
    .Groupable()
    .DataSource(dataSource =>
    {
        dataSource.Ajax()
            .Model(m => m.Id(ev => ev.ID))
            .PageSize(10)
            .Read("Read", ControllerName)
            .Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(update => update.Action("Destroy", ControllerName));
    }))
</div>
