@using FreeRiders.Models

@{
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    const string ControllerName = "Event";
}

<div class="container">
    @(Html.Kendo()
    .Grid<Event>()
    .Name("events-grid")
    .Columns(columns =>
    {
        columns.Bound(ev => ev.ID);
        columns.Bound(ev => ev.CreatedOn).Format("{0:dd-MM-yyyy HH:mm}").Filterable(false); ;
        columns.Bound(ev => ev.Title);
        columns.Bound(ev => ev.Description);
        columns.Bound(ev => ev.DateOfEvent).Format("{0:dd-MM-yyyy HH:mm}").Filterable(false); ;
        columns.Command(command =>
        {
            command.Destroy().Text("Remove");
            command.Edit();
        });
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .Sortable()
    .Pageable()
    .Groupable()
    .DataSource(dataSource =>
    {
        dataSource.Ajax()
            .Model(m => m.Id(ev => ev.ID))
            .PageSize(10)
            .Read("Read", ControllerName)
            .Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(update => update.Action("Destroy", ControllerName));
    }))
</div>
