@using FreeRiders.Web.ViewModels.Message

@model ICollection<MessageViewModel>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>Event chat</strong>
            </h3>
        </div>
        @foreach (var message in Model)
        {
            @Html.DisplayFor(m => message)
        }
    </div>
</div>
